# Eclipse
.classpath
.project
.settings/
.metadata/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

log/
target/
logs/
project/target
tmp
.history
out
.idea_modules
.classpath
.project
RUNNING_PID
.settings
build.output
